<html>
{% block header %}
    {% include 'base.twig' %}
{% endblock %}
<form action="/?page=404" method="GET">


<style>
    body {
        background-image: url('https://cdn.dribbble.com/users/1152726/screenshots/2940106/media/a9dc3a955065937ae8bed3fcfc036a75.gif');
        background-position: center;
        background-size:cover ;
        overflow: hidden;
        height: 100vh;
    }
</style>
</form>
</html>