<html>
<a href="/">
    <button type="submit" name="page" value="index">Index</button>
</a>
{% if not status %}
    <a href="index.php/?page=register">
        <button type="submit" name="page" value="register">Register</button>
    </a>

    <a href="/index.php/?page=login">
        <button type="submit" name="page" value="login">Login</button>
    </a>
    <a href="index.php/?page=password-failed">
        <button type="submit" name="page" value="password-failed">Reset Password</button>
    </a>


{% else %}
    <a href="index.php/?page=logout">
        <button type="submit" name="page" value="logout">Logout</button>
    </a>

    <a href="index.php/?page=favorites">
        <button type="submit" name="page" value="favorites">Favorites</button>
    </a>

    <a href="index.php/?page=cart">
        <button type="submit" name="page" value="cart">Cart</button>
    </a>


    <h1> Welcome: {{ userDto.firstName }}</h1>

{% endif %}


</html>