<html>
<h1>Favorite clubs</h1>
{% for favorite in favorites %}


    <li><a href="{{ favorite.teamName}}" >{{ favorite.teamName }}</a><img width="80"src="{{ favorite.crest}}"></li>
{% endfor %}
</html>

