<html>

<form action="/index.php" method="GET">
{% if not status %}
  <a href="index.php/?page=register">
  <button type="submit" name="page" value="register">Register</button>
  </a>

  <a href="/index.php/?page=login">
    <button type="submit" name="page" value="login">Login</button>
  </a>
{% else  %}
  <a href="index.php/?page=logout">
  <button type="submit" name="page" value="logout">Logout</button>
  </a>
    <h1> Welcome: {{ userName }}</h1>

{% endif %}
</form>
<ul>

    {% for league in leagues %}


        <li><a href="{{ league.link }}">{{ league.name }}</a></li>
    {% endfor %}
</ul>

</html>