<html>
{% block header %}
    {% include 'base.twig' %}
{% endblock %}
<h1>Team</h1>
<ul>

    {% for player in players %}


    <li><a href="{{ player.link}}" >{{ player.name }}</a></li>
    {% endfor %}
</ul>

</html>

