<html>
{% block header %}
    {% include 'base.twig' %}
{% endblock %}
<form action="" method="POST">
<h1>Team: {{ players.teamName }}

    {% if status %}
        {% if favoriteStatus %}
            <input type="submit" value="delete" name="favorites" id="delete">
        {% else %}
            <input type="submit" value="add" name="favorites" id="add">
        {% endif %}
    {% endif %}
</h1>

<ul>

    {% for player in players.squad %}


        <li><a href="{{ player.link }}">{{ player.name }}</a></li>
    {% endfor %}
</ul>
</form>
</html>

