<html>
<a href="/user.php" > No Account yet?</a> <a href="/login.php" > Login </a><br>

{% if status %}
       <h1> Welcome: {{ userName}}</h1>

{% endif %}
<ul>

    {% for league in leagues %}


        <li><a href="{{ league.link}}" >{{ league.name }}</a></li>
    {% endfor %}
</ul>

</html>